input[type=checkbox] {
    position: absolute;
    height: 30px;
    width: 250px;
    opacity: 0;
    cursor: pointer;
}
input[type=checkbox] + label {
    cursor: pointer;
    font-size: 16px;
    display: flex;
    width: 250px;
}
input[type=checkbox] + label svg {
    width: 2em;
    stroke: #7363F3;
    stroke-width: 5;
    fill: white;
}
input[type=checkbox] + label svg .box {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    fill: white;
    transition: stroke-dashoffset 0.3s linear;
}
input[type=checkbox] + label svg .check {
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
    fill: none;
    transition: stroke-dashoffset 0.3s linear;
}
input[type=checkbox] + label span {
    align-self: center;
    margin-left: 10px;
}
input[type=checkbox]:checked + label .box {
    stroke-dashoffset: 320;
}
input[type=checkbox]:checked + label .check {
    stroke-dashoffset: 0;
}
