* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
}
body {
    background: url('../Images/HomeBackground.png');
    background-size: cover;
}
.logo {
    display: flex;
    letter-spacing: 3px;
    width: 100%;
    padding-left: 30px;
    min-height: 8vh;
    align-items: center;
}
a{
    text-decoration:none;
}

.logo a {
    color: white;
}
.test{
    margin-top: 50px;
    display:flex;
    justify-content:center;
}
.ErrorMSG{
    color:red;
    position: absolute;
    display: nne;
}

.headline{
    display:block;
    grid-area: box1;
}
.maincontainer{
    width: 1200px;
    height: 400px;
    background-color: White;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    grid-template-areas:"box1 box2 box3";
}
.step1 , .step2 ,.step3{
    width:400px;
    height: 100%;
    position: relative;
    padding:20px 40px;
}
.step1{
    grid-area: box1;
}
.step2{
    border-right: 0.2em solid;
    border-left: 0.2em solid;
    grid-area: box2;
}
.step3{
    grid-area: box3;
}
.step1 h3 , .step2 h3 , .step3 h3{
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}
.divRePass{
    margin-top:20px;
}
.divEmail , .divPass , .divRePass , .divSAns{
    height: 80px;
    width: 320px;
    position: relative;
    overflow: hidden;

}

#btNext1 , #btNext2 ,#BtChange{
    background-color: #1AC0F2;
    color: white;
    position: relative;
    border-style: none;
    border-radius: 1em;
    font-size: 22px;
    font-weight: 500;
    width: 100px;
    height: 40px;
    outline: none;
    margin-left: 225px;
    cursor: pointer;
}
#btNext1:active ,#btNext2:active,#BtChange:active{
    background-color: white;
    color:#1ac0f2;
    border:0.1em solid;
}
#btNext1,#btNext2{
  margin-top: 150px;
}
#BtChange{
    width: 120px;
  margin: 50px 0 0 200px;
}

.textbox {
    height: 60px;
    width: 100%;
    font-size: 20px;
    padding-top: 20px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-family: sans-serif;
    background-color: transparent;
}

.label {
    position: absolute;
    bottom: 20px;
    left: 0%;
    width: 100%;
    height: 60px;
    pointer-events: none;
}

.label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom:0px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform ease 1s;
}

.textbox:focus + .label::after {
    transform: translateX(0%);
}
.hidePanel{
    pointer-events: none;
    opacity: 0.3;
}
.showPanel{
    pointer-events: visible;
    opacity: 1;
}