.mainContainerPassword{
  background-image: url('../Images/BG5.png');
  background-size: cover;
  padding: 20px;
  height: 100%;
  width: 100%;
}
input[type=checkbox]{
  margin: 0 20px 0 0;
}
#CPH_content_txtPass{
  width: 410px;
  height: 40px;
  margin: 50px 0 20px 0;
  border-radius: 1.5em;
  border: none;
  outline: none;
  background-color: #7363F3;
  color:white;
  padding-left: 20px;
  font-size: 16px;
  z-index : 1;
}
#btCopy{
  position: absolute;
  align-self: center;
  margin:20px;
  margin-top: 50px;
  border-color: #7363F3;
  color:#7363F3;
  background-color: white;
  border-radius: 1.6em;
  width: 70px;
  height: 40px;
  outline: none;
  cursor: pointer;
}
.generated{
  width: 500px;
}
.pass_span{
  font-weight: 500;
  font-size:larger;
}
#CPH_content_txtLength{
  width: 50px;
  height: 30px;
  padding: 0 5px;
  margin-left :15px;
  font-size: 18px;
}
.customize table{
  height: 150px;
}
.chklist{
  margin-top: 10px;
}
#CPH_content_btGenerate{
  margin-top: 20px;
  border: none;
  color:white;
  background-color: #7363F3;
  border-radius: 1.6em;
  width: 120px;
  height: 40px;
  font-size: large;
  outline: none;
  cursor: pointer;
}
.mainContainerPassword h2{
  color:white;
  letter-spacing: 1px;
}